## Introduction<br><br>
- Python is a general purpose high level programming language.<br>
- Python was developed by Guido Van Rossam in 1989 while working at National Research Institute at Netherlands.<br>
- But officially Python was made available to public in 1991. The official Date of Birth for Python is : Feb 20th 1991.<br>
- Python is recommended as first programming language for beginners.<br><br>

**Lets Compare the syntax of various programming languages to praise python**<br>
**Eg1:** To print Helloworld<br><br>

![](images/1.png)<br><br>

**Python**

In [1]:
print("Hello World") # Just One line

Hello World

The name Python was selected from the TV Show "The Complete Monty Python's Circus", which was broadcasted in BBC from 1969 to 1974.<br><br>

Guido developed Python language by taking almost all programming features from different languages<br><br>

> 1. Functional Programming Features from C <br>
> 2. Object Oriented Programming Features from C++<br>
> 3. Scripting Language Features from Perl and Shell Script<br>
> 4. Modular Programming Features from Modula-3<br><br>

Most of syntax in Python Derived from C and ABC languages.<br><br>

## Where we can use Python:<br>
We can use everywhere. The most common important application areas are<br><br>

1) For developing Desktop Applications<br>
2) For developing web Applications<br>
3) For developing database Applications<br>
4) For Network Programming<br>
5) For developing games<br>
6) For Data Analysis Applications<br>
7) For Machine Learning<br>
8) For developing Artificial Intelligence Applications<br>
9) For IoT<br>
   ... <br><br>
   
**Note:** <br>
- Internally Google and Youtube use Python coding.<br>
- NASA and Nework Stock Exchange Applications developed by Python.<br>
- Top Software companies like Google, Microsoft, IBM, Yahoo using Python.<br>

# Features of Python:

### 1) <u>Simple and easy to learn:</u><br>
- Python is a simple programming language. When we read Python program,we can feel like reading english statements. <br>
- The syntaxes are very simple and only 30+ kerywords are available.<br>
- When compared with other languages, we can write programs with very less number of lines. Hence more readability and simplicity.<br>
- We can reduce development and cost of the project.<br><br>

### 2) <u>Freeware and Open Source:</u><br>
- We can use Python software without any licence and it is freeware.<br>
- Its source code is open,so that we can we can customize based on our requirement.<br>
- **Eg:** Jython is customized version of Python to work with Java Applications.<br><br>

### 3) <u>High Level Programming language:</u><br>
- Python is high level programming language and hence it is programmer friendly language.<br>
- Being a programmer we are not required to concentrate low level activities like memory management and security etc.<br><br>

### 4) <u>Platform Independent:</u><br>
- Once we write a Python program,it can run on any platform without rewriting once again.<br>
- Internally PVM is responsible to convert into machine understandable form.<br><br>

### 5)<u>Portability:</u><br>
- Python programs are portable. ie we can migrate from one platform to another platform very easily. Python programs will provide same results on any paltform.<br><br>

### 6)<u>Dynamically Typed:</u><br>
- In Python we are not required to declare type for variables. Whenever we are assigning the value, based on value, type will be allocated automatically.Hence Python is considered as dynamically typed language. <br>
- But Java, C etc are Statically Typed Languages b'z we have to provide type at the beginning only.<br>
- This dynamic typing nature will provide more flexibility to the programmer.<br><br>

### 7) <u>Both Procedure Oriented and Object Oriented:</u><br>
- Python language supports both Procedure oriented (like C, pascal etc) and object oriented (like C++, Java) features. Hence we can get benefits of both like security and reusability etc<br><br>

### 8) <u>Interpreted:</u><br>
- We are not required to compile Python programs explcitly. Internally Python interpreter will take care that compilation.<br>
- If compilation fails interpreter raised syntax errors. Once compilation success then PVM (Python Virtual Machine) is responsible to execute.<br><br>

### 9) <u>Extensible:</u><br>
- We can use other language programs in Python.<br>
- The main advantages of this approach are:<br>
> - We can use already existing legacy non-Python code <br>
> - We can improve performance of the application<br><br>

### 10) <u>Embedded:</u><br>
- We can use Python programs in any other language programs. i.e we can embedd Python programs anywhere.<br><br>

### 11) <u>Extensive Library:</u><br>
- Python has a rich inbuilt library.<br>
- Being a programmer we can use this library directly and we are not responsible to implement the functionality. Etc.<br><br>

# <u>Limitations of Python:</u><br> 
1) Performance wise not up to the mark because it is interpreted language.<br>
2) Not using for mobile Applications.<br><br>

# IDENTIFIERS

- A Name in Python Program is called Identifier.<br>
- It can be Class Name OR Function Name OR Module Name OR Variable Name.<br>
> a = 10<br><br>


### Rules to define Identifiers in Python:
1. The only allowed characters in Python are<br>
 - alphabet symbols(either lower case or upper case) <br>
 - digits(0 to 9)<br>
 - underscore symbol(_)<br><br>

> By mistake if we are using any other symbol like @ then we will get syntax error.<br>
> - cash = 10 √<br> 
> - c@sh =20 **X**<br><br>

2. Identifier should not starts with digit<br>
- 123total **X**<br>
- total123 **√**<br><br>

3. Identifiers are case sensitive. Of course Python language is case sensitive language.<br>
- total=10<br>
- TOTAL=999<br> 
- print(total) #10<br> 
- print(TOTAL) #999<br>

### <u>Identifier:</u><br>

1) Alphabet Symbols (Either Upper case OR Lower case)<br>
2) If Identifier is start with Underscore (_) then it indicates it is private.<br>
3) Identifier should not start with Digits.<br>
4) Identifiers are case sensitive.<br>
5) We cannot use reserved words as identifiers **Eg: def = 10** **<span style="color:red">X**<span> <br>
6) There is no length limit for Python identifiers. But not recommended to use too lengthy identifiers.<br>
7) Dollor ($) Symbol is not allowed in Python.<br>

**Q) Which of the following are valid Python identifiers?**<br>
1) 123total **X**<br>
2) total123 **√**<br>
3) java2share **√**<br>
4) c@sh **X**<br>
5) _abc_abc_ **√**<br>
6) def **X**<br>
7) if **X**<br><br>

<u>**Note:**</u>
1) If identifier starts with **_** symbol then it indicates that it is private<br>
2) If identifier starts with **\_\_**(Two Under Score Symbols) indicating that strongly private identifier.<br>
3) If the identifier starts and ends with two underscore symbols then the identifier is language defined special name, which is also known as magic methods.<br>
4) Eg: \_\_add\_\_

# Reserved Keywords

In Python some words are reserved to represent some meaning or functionality.<br>
Such types of words are called reserved words.<br><br>
There are 33 reserved words available in Python.<br>

> **True, False, None** <br>
> **and, or ,not,is** <br>
> **if, elif, else** <br>
> **while, for, break, continue, return, in, yield**<br>
> **try, except, finally, raise, assert**<br>
> **import, from, as, class, def, pass, global, nonlocal, lambda, del, with**<br><br>

**Note:**<br>
1. All Reserved words in Python contain only alphabet symbols.<br>
2. Except the following 3 reserved words, all contain only lower case alphabet symbols.<br>
> True<br>
> False<br>
> None<br><br>

**Eg:**<br>
a=true **X**<br>
a=True **√**<br>

In [2]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# DATA TYPES

- Data Type represents the type of data present inside a variable.<br>
- In Python we are not required to specify the type explicitly. Based on value provided, the type will be assigned automatically.Hence Python is dynamically Typed Language.<br><br>

Python contains the following inbuilt data types<br>
1) Int<br> 2) Float<br> 3) Complex<br> 4) Bool<br> 5) Str<br> 6) Bytes<br> 7) Bytearray<br> 8) Range<br> 9) List<br> 10) Tuple<br> 11) Set<br> 12) Frozenset<br> 13) Dict<br> 14) None<br>

![](images/2.png)
**Note:** Python contains several inbuilt functions<br>

1) **type():** to check the type of variable<br>
2) **id():** to get address of object<br>
3) **print():** to print the value<br><br>

In Python everything is an Object.<br><br>

# 1) int Data Type:
We can use int data type to represent whole numbers (integral values)<br>
Eg:<br>
a = 10<br>
type(a) #int<br><br>

**Note:**<br><br>
- In Python2 we have long data type to represent very large integral values.<br>
- But in Python3 there is no long type explicitly and we can represent long values also by using int type only.<br><br>
We can represent int values in the following ways<br>
1) Decimal form<br> 2) Binary form<br> 3) Octal form<br> 4) Hexa decimal form<br><br>


### I) Decimal Form (Base-10):
- It is the default number system in Python<br>
- The allowed digits are: 0 to 9<br>
- **Eg:** a =10<br><br>

### II) Binary Form (Base-2):
- The allowed digits are : 0 & 1<br> 
- Literal value should be prefixed with 0b or 0B<br>
- **Eg:** 
> a = 0B1111<br>
> a = 0B123<br>
> a = b111<br><br>

### III) Octal Form (Base-8):
- The allowed digits are : 0 to 7<br>
- Literal value should be prefixed with 0o or 0O.<br>
- **Eg:**<br>
> a = 0o123<br>
> a = 0o786<br><br>

### IV) Hexa Decimal Form (Base-16):
- The allowed digits are: 0 to 9, a-f (both lower and upper cases are allowed)<br>
- Literal value should be prefixed with 0x or 0X<br>
- **Eg:**
> a = 0XFACE<br>
> a = 0XBeef<br>
> a = 0XBeer<br><br>

**Note:**<br>
Being a programmer we can specify literal values in decimal, binary, octal and hexa decimal forms. But PVM will always provide values only in decimal form.<br><br>

In [1]:
a=10
b=0o10
c=0X10
d=0B10
print(a) #10
print(b) #8
print(c) #16
print(d) #2

10
8
16
2

## Base Conversions
Python provide the following in-built functions for base conversions<br>
### 1) bin():
We can use bin() to convert from any base to binary

In [2]:
bin(15)

'0b1111'

In [3]:
bin(0o12)

'0b1010'

In [4]:
bin(0X12)

'0b10010'

### 2) oct():
We can use oct() to convert from any base to octal

In [5]:
oct(10)

'0o12'

In [6]:
oct(0B1111)

'0o17'

In [7]:
oct(0X123)

'0o443'

### 3) hex():
We can use hex() to convert from any base to hexa decimal

In [8]:
hex(100)

'0x64'

In [9]:
hex(0B111111)

'0x3f'

In [10]:
hex(0o12345)

'0x14e5'

## 2) Float Data Type

- We can use float data type to represent floating point values (decimal values)

In [11]:
f=1.23445
type(f)

float

- We can also represent floating point values by using exponential form (Scientific Notation)

In [12]:
f=1.4e2 # Instead of 'e' we can use 'E'
print(f)

140.0

- The main advantage of exponential form is we can represent big values in less memory.<br><br>

**Note:**<br>
We can represent int values in decimal, binary, octal and hexa decimal forms. But we can represent float values only by using decimal form.

In [13]:
f = 0B11.01
print(f) # This will be invalid sytax

SyntaxError: invalid syntax (<ipython-input-13-bd59c796438a>, line 1)

In [14]:
f = 0o12.567
print(f)

SyntaxError: invalid syntax (<ipython-input-14-61bbbb8e6e51>, line 1)

In [15]:
f = 0X156.123
print(f)

SyntaxError: invalid syntax (<ipython-input-15-4cce22551dd7>, line 1)

## 3) Complex Data Type:
- A complex number is of the form<br>
![](images/3.png)<br>
- ‘a’ and ‘b’ contain Intergers OR Floating Point Values.<br>

**Eg:**<br>
> 3+5j<br>
> 10+5.5j<br>
> 0.5+0.1j<br><br>

- In the real part if we use int value then we can specify that either by decimal, octal, binary or hexa decimal form.<br>
- But imaginary part should be specified only by using decimal form.

In [16]:
a=0B11+5j #Valid
a

(3+5j)

In [17]:
a=3+0B11j # Not Valid as imaginary value is not decimal
a

SyntaxError: invalid syntax (<ipython-input-17-692cbb285c8a>, line 1)

Even we can perform operations on complex type values.

In [19]:
a=10+1.5j
b=20+2.5j
c=a+b
print(c)
type(c)

(30+4j)

complex

**Note:** Complex data type has some inbuilt attributes to retrieve the real part and imaginary part

In [22]:
c=10.5+3.6j
print(c.real) # it will output real number
print(c.imag) # it will output imaginary number

10.5
3.6

We can use complex type generally in scientific Applications and electrical engineering Applications.

## 4) bool Data Type:
- We can use this data type to represent boolean values.<br>
- The only allowed values for this data type are: **True** and **False**<br>
- Internally Python represents True as 1 and False as 0

In [23]:
b=True
type(b)

bool

In [24]:
# Example
a=10
b=30
c=a<b
print(c)

True

In [25]:
True + True # True is 1

2

In [26]:
True - False # True is 1 and False is 0

1

## 5) str Data Type:
- str represents String data type. <br>
- A String is a sequence of characters enclosed within single quotes or double quotes.<br>
> s1 = 'sairam'<br>
> s1 = "sairam"<br>

By using single quotes or double quotes we cannot represent multi line string literals.<br>

In [28]:
s1="sai
ram" # This will result error.

SyntaxError: EOL while scanning string literal (<ipython-input-28-522ce2ad33f2>, line 1)

For this requirement we should go for triple single quotes **(''')** or triple double quotes **(""")**

In [31]:
s1 = '''sai
ram'''
print(s1)

sai
ram

In [33]:
s1 = """sai
ram"""
print(s1)

sai
ram

- We can also use triple quotes to use single quote or double quote in our String.<br>

In [34]:
'''This is " character'''

'This is " character'

- We can embed one string in another string

In [36]:
'''This "Python class very helpful" for java students'''

'This "Python class very helpful" for java students'

## Slicing of Strings:

1) slice means a piece<br>
2) **[ ]** operator is called slice operator, which can be used to retrieve parts of String.<br>
3) In Python Strings follows zero based index.<br>
4) The index can be either +ve or -ve.<br>
5) +ve index means forward direction from Left to Right<br>
6) -ve index means backward direction from Right to Left<br>
![](images/4.png)

In [40]:
s = "SAIRAM"
print("s[0] = ",s[0])
print("s[1] = ",s[1])
print("s[-1] = ",s[-1])
print("s[1:40] = ",s[1:40])
print("s[1:] = ",s[1:])
print("s[:4] = ",s[:4])
print("s[:] = ",s[:])
print("s*3 = ",s*3)
print(len(s))

s[0] =  S
s[1] =  A
s[-1] =  M
s[1:40] =  AIRAM
s[1:] =  AIRAM
s[:4] =  SAIR
s[:] =  SAIRAM
s*3 =  SAIRAMSAIRAMSAIRAM
6

### Note:
1) In Python the following data types are considered as Fundamental Data types<br>
> - int<br>
> - float<br>
> - complex<br>
> - bool<br>
> - str<br><br>

2) In Python, we can represent char values also by using str type and explicitly char type is not available.

In [41]:
c='a'
type(c)

str

3) long Data Type is available in Python2 but not in Python3. In Python3 long values also we can represent by using int type only.<br><br>
4) In Python we can present char Value also by using str Type and explicitly char Type is not available.

# TYPE CASTING
- We can convert one type value to another type. This conversion is called Typecasting or Type coersion.<br>
- The following are various inbuilt functions for type casting.<br>
> 1) int()<br>
> 2) float()<br>
> 3) complex()<br>
> 4) bool()<br>
> 5) str()<br><br>

## int():
We can use this function to convert values from other types to int

In [1]:
int(123.456)

123

In [2]:
int(10+5j)

TypeError: can't convert complex to int

In [3]:
int(True)

1

In [4]:
int(False)

0

In [5]:
int("10")

10

In [6]:
int("10.2")

ValueError: invalid literal for int() with base 10: '10.2'

In [7]:
int("ten")

ValueError: invalid literal for int() with base 10: 'ten'

In [8]:
int("0B1111")

ValueError: invalid literal for int() with base 10: '0B1111'

**Note:**<br>
1) We can convert from any type to int except complex type.<br>
2) If we want to convert str type to int type, compulsary str should contain only integral value and should be specified in base-10.<br><br>

## float():
We can use float() function to convert other type values to float type.

In [9]:
float(10)

10.0

In [10]:
float(5+10j)

TypeError: can't convert complex to float

In [11]:
float(True)

1.0

In [12]:
float(False)

0.0

In [13]:
float("10")

10.0

In [14]:
float("10.25")

10.25

In [15]:
float("ten")

ValueError: could not convert string to float: 'ten'

In [16]:
float("0B1111")

ValueError: could not convert string to float: '0B1111'

**Note:**<br>
1) We can convert any type value to float type except complex type.<br>
2) Whenever we are trying to convert str type to float type compulsary str should be either integral or floating point literal and should be specified only in base-10.<br><br>

## complex():
We can use complex() function to convert other types to complex type.

**Form-1: complex(x)**<br>
We can use this function to convert x into complex number with real part x and imaginary part 0.

In [17]:
complex(10)

(10+0j)

In [18]:
complex(10.5)

(10.5+0j)

In [19]:
complex(True)

(1+0j)

In [20]:
complex(False)

0j

In [21]:
complex("10")

(10+0j)

In [22]:
complex("10.5")

(10.5+0j)

In [23]:
complex("ten")

ValueError: complex() arg is a malformed string

**Form-2: complex(x,y)**<br>
We can use this method to convert x and y into complex number such that x will be real part and y will be imaginary part.

In [24]:
complex(15,-6)

(15-6j)

In [25]:
complex(10,2)

(10+2j)

In [26]:
complex(True,False)

(1+0j)

## bool(): 
We can use this function to convert other type values to bool type.

In [27]:
bool(0)

False

In [28]:
bool(1)

True

In [31]:
bool("True")

True

In [32]:
bool("False")

True

In [33]:
bool(10)

True

In [34]:
bool(10.6)

True

In [35]:
bool(0.178)

True

In [36]:
bool(0.0)

False

In [37]:
bool(10-2j)

True

In [38]:
bool(0+1.5j)

True

In [39]:
bool(0+0j)

False

In [40]:
bool("")

False

![](images/5.png)

## str(): 
We can use this method to convert other type values to str type.

In [41]:
str(10)

'10'

In [42]:
str(10.5)

'10.5'

In [43]:
str(10+5j)

'(10+5j)'

In [44]:
str(True)

'True'

## Fundamental Data Types vs Immutability:
֍ All Fundamental Data types are immutable. i.e once we creates an object,we cannot perform any changes in that object. If we are trying to change then with those changes a new object will be created. This non-chageable behaviour is called immutability.<br><br>
֍ In Python if a new object is required, then PVM won’t create object immediately. First it will check is any object available with the required content or not. If available then existing object will be reused. If it is not available then only a new object will be created. The advantage of this approach is memory utilization and performance will be improved.<br><br>
֍ But the problem in this approach is, several references pointing to the same object, by using one reference if we are allowed to change the content in the existing object then the remaining references will be effected. To prevent this immutability concept is required. According to this once creates an object we are not allowed to change content. If we are trying to change with those changes a new object will be created.

In [45]:
a=10
b=10
a is b

True

In [46]:
id(a)

140710735456336

In [47]:
id(b)

140710735456336

In [48]:
a=10+5j
b=10+5j
a is b

False

In [49]:
id(a)

1192274302672

In [50]:
id(b)

1192274301840

In [51]:
a= True
b= True
a is b

True

In [52]:
id(a)

140710735173456

In [53]:
id(b)

140710735173456

In [54]:
a='sairam'
b='sairam'
a is b

True

In [55]:
id(a)

1192274439216

In [56]:
id(b)

1192274439216

## 6) bytes Data Type:
bytes data type represents a group of byte numbers just like an array.

In [57]:
x=[10,20,30,40]
b=bytes(x)
type(b)

bytes

In [58]:
print(b[0])

10

In [59]:
print(b[1])

20

In [60]:
print(b[-1])

40

In [62]:
for i in b: print(i)

10
20
30
40

**Conclusion 1:**<br>
The only allowed values for byte data type are 0 to 256. By mistake if we are trying to provide any other values then we will get value error.

In [63]:
x=[257,258]
b=bytes(x)

ValueError: bytes must be in range(0, 256)

**Conclusion 2:**<br>
Once we creates bytes data type value, we cannot change its values,otherwise we will get TypeError.

In [64]:
x=[10,20,30,40]
b=bytes(x)
b[0]=100

TypeError: 'bytes' object does not support item assignment

## 7) bytearray Data Type:<br>
bytearray is exactly same as bytes data type except that its elements can be modified.

In [66]:
x=[10,20,30,40]
b=bytearray(x)
for i in b: print(i)
b[0]=100
print()
for i in b: print(i)

10
20
30
40

100
20
30
40

In [69]:
x=[10,256] #256 is out of range, give ValueError
b=bytearray(x)

ValueError: byte must be in range(0, 256)

## 8) List Data Type:
If we want to represent a group of values as a single entity where insertion order required to preserve and duplicates are allowed then we should go for list data type.<br>

> 1) Insertion Order is preserved<br>
> 2) Heterogeneous Objects are allowed<br>
> 3) Duplicates are allowed<br>
> 4) Growable in nature<br>
> 5) Values should be enclosed within square brackets.

In [1]:
list = [10,20.56,'Sairam',True,10]
print(list)

[10, 20.56, 'Sairam', True, 10]

In [2]:
list[0]

10

In [3]:
list[-1]

10

In [4]:
list[1:3]

[20.56, 'Sairam']

In [5]:
for i in list: print(i)

10
20.56
Sairam
True
10

list is growable in nature. i.e based on our requirement we can increase or decrease the size.

In [6]:
list = [10,20,30]

In [8]:
list.append("durga")
list

[10, 20, 30, 'durga', 'durga']

In [9]:
list.remove(10)
list

[20, 30, 'durga', 'durga']

In [11]:
list1=list*2
list1

[20, 30, 'durga', 'durga', 20, 30, 'durga', 'durga']

**Note:** An ordered, mutable, heterogenous collection of elemnts is nothing but list, where duplicates also allowed.

## 9) Tuple Data Type:
- tuple data type is exactly same as list data type except that it is immutable.i.e we cannot chage values.<br>
- Tuple elements can be represented within parenthesis.

In [12]:
t=(10,20,30,40)
type(t)

tuple

In [13]:
t[0]

10

In [14]:
t[0] = 100 # this will give TypeError as tuple wont allow changes.

TypeError: 'tuple' object does not support item assignment

In [15]:
t.append("sairam") # This will also raise Error as below as it doen't allow to change its contents.

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
t.remove(10)

AttributeError: 'tuple' object has no attribute 'remove'

**Note:** tuple is the read only version of list

## 10) Range Data Type:
- range Data Type represents a sequence of numbers.<br>
- The elements present in range Data type are not modifiable. i.e range Data type is immutable.<br><br>

**Form-1:** range(10)<br> generate numbers from 0 to 9

In [20]:
r = range(10)
for i in r: print(i)

0
1
2
3
4
5
6
7
8
9

**Form-2:** range(10, 20)<br>
generate numbers from 10 to 19

In [21]:
r = range(10,20)
for i in r: print(i)

10
11
12
13
14
15
16
17
18
19

**Form-3:** range(10, 20, 2)<br>
2 means increment value

In [22]:
# Example 1
r = range(10,20,2)
for i in r: print(i)

10
12
14
16
18

We can access elements present in the range Data Type by using index.

In [24]:
# Example 2:
r = range(10,20)
r[0]

10

In [25]:
r[12] # Will raise IndexError as it has only range from 0 to 9.

IndexError: range object index out of range

We cannot modify the values of range data type

In [26]:
r[0] = 100

TypeError: 'range' object does not support item assignment

We can create a list of values with range data type

## 11) set Data Type:
֍ If we want to represent a group of values without duplicates where order is not important then we should go for set Data Type.<br>
> 1) Insertion order is not preserved<br>
> 2) Duplicates are not allowed<br>
> 3) Heterogeneous objects are allowed<br>
> 4) Index concept is not applicable<br>
> 5) It is mutable collection<br>
> 6) Growable in nature

In [31]:
s = {100,0,200,10.0,"Sairam"}

In [32]:
s[0] # Set doesnt support indexing

TypeError: 'set' object is not subscriptable

֍ set is growable in nature, based on our requirement we can increase or decrease the size.

In [33]:
s.add(60)
s

{0, 10.0, 100, 200, 60, 'Sairam'}

In [34]:
s.remove(100)

In [35]:
s

{0, 10.0, 200, 60, 'Sairam'}

## 12) frozenset Data Type:
֍ It is exactly same as set except that it is immutable.<br>
֍ Hence we cannot use add or remove functions.

In [37]:
s={10,20,30,40}
fs  = frozenset(s)
type(fs)

frozenset

In [38]:
fs

frozenset({10, 20, 30, 40})

In [39]:
for i in fs: print(i)

40
10
20
30

In [40]:
fs.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [41]:
fs.remove(10)

AttributeError: 'frozenset' object has no attribute 'remove'

## 13) dict Data Type:
֍ If we want to represent a group of values as key-value pairs then we should go for dict data type.<br><br>
֍ **Eg:** d = {101:'durga',102:'ravi',103:'shiva'}<br><br>
֍ Duplicate keys are not allowed but values can be duplicated. If we are trying to insert an entry with duplicate key then old value will be replaced with new value.

In [42]:
d={101:'durga',102:'ravi',103:'shiva'}
d[101] = 'sunny'
d

{101: 'sunny', 102: 'ravi', 103: 'shiva'}

In [43]:
# We can create empty dictionary as follows
d={}

# We can add key-value pairs as follows
d['a'] = 'apple'
d['b'] = 'banana'
print(d)

{'a': 'apple', 'b': 'banana'}

**Note:** dict is mutable and the order won’t be preserved.

**Note:**
1) In general we can use bytes and bytearray data types to represent binary information like images, video files etc<br><br>
2) In Python2 long data type is available. But in Python3 it is not available and we can represent long values also by using int type only.<br><br> 3) In Python there is no char data type. Hence we can represent char values also by using str type.<br>
![](images/6.png)<br>
![](images/7-1.png)<br>

## 14) None Data Type:
- None means nothing or No value associated.<br>
- If the value is not available, then to handle such type of cases None introduced.<br>

In [45]:
# Eg
def m1():
    a = 10 # No Value Assigned to m1()
print(m1())

None

In [46]:
# Eg
def m1():
    return 10 # Value Assigned to m1() to return on calling it.
print(m1())

10

## Escape Characters:
In String literals we can use esacpe characters to associate a special meaning.

In [47]:
s = "python\nlearning"
print(s)

python
learning

In [48]:
s = "python\tlearning"
print(s)

python	learning

In [49]:
s = "python" learning"
print(s)

SyntaxError: invalid syntax (Temp/ipykernel_916/2474377451.py, line 1)

In [50]:
s = "python\" learning"
print(s)

python" learning

The following are various important escape characters in Python<br>

> 1) **\n** ==> New Line<br>
> 2) **\t** ==> Horizontal Tab<br>
> 3) **\r** ==> Carriage Return<br>
> 4) **\b** ==> Back Space<br>
> 5) **\f** ==> Form Feed<br>
> 6) **\v** ==> Vertical Tab<br>
> 7) **\\'** ==> Single Quote<br>
> 8) **\\"** ==> Double Quote<br>
> 9) **\\\** ==> Back Slash Symbol<br>
> ....<br><br>

### Constants:
- Constants concept is not applicable in Python.<br>
- But it is convention to use only uppercase characters if we don’t want to change value.<br>
- MAX_VALUE = 10<br>
- It is just convention but we can change the value.