 - If you want to represent a group of unique elements as a single entity where order is not important, then We should choose **Set** Data Structure<br><br>
**Properties:**<br>
> - Duplicates are not allowed.
> - Insertion Order is not Preserved.
> - indexing and slicing concepts not applicable.
> - objects will be represented with comma separated values with in Curly Brackets **"{ }"**. Example: s={10,20,30}
> - Heterogenous Objects are allowed i.e different types of objects are allowed.
> - Set is Mutable i.e We can Add or Remove elements from the set.
> - Mathematical operations like **Union, Intersection and Difference** can be done.

**Note:** Empty Curly Brackets i.e s={ } by default considered as dict type.<br><br>
For Example:

In [1]:
s={}
type(s)

dict

 - Among Set and Dict, Dict is the most commonly used data type, hence given the first priority as dict for the empty curly brackets.

We can create the empty set using **set()** function as follows:

In [5]:
s=set()
print(type(s))
s.add(10)
s.add('Z')
s.add(20.5)
s.add(10) # This 10 will not be added, since duplicates are not allowed in set.
print(s)

<class 'set'>
{10, 'Z', 20.5}

In [6]:
print(s[0]) # Indexing Not Applicable for the Set

TypeError: 'set' object is not subscriptable

In [7]:
print(s[1:2]) # Slicing not Applicable for the Set

TypeError: 'set' object is not subscriptable

**Differences Between List and Set**

**List:**<br>
> 1) Duplicates are Allowed.<br>
> 2) Insertion Order is Preserved<br>
> 3) List is indicated with Square Brackets i.e "[ ]"<br>
> 4) Indexing and Slicing Concepts are Applicable

**Set:**<br>
> 1) Duplicates are Not Allowed.<br>
> 2) Insertion Order is Not Preserved<br>
> 3) Set is indicated with Curly Brackets i.e. "{ }"<br>
> 4) Indexing and Slicing Concepts are Not Applicable

# Creation of Set Object

**1) Empty Set**

In [9]:
# s={ } # Can't create set with empty curly braces, its considered as dict by default.
s=set() #creating an empty set object using set() function.
print(type(s))

<class 'set'>

**2) If we have data already**

In [10]:
s={10,20,30}
print(type(s))
print(s)

<class 'set'>
{10, 20, 30}

**3) By Using Set() Function**

In [11]:
s=[10,20,30,40]
s1=set(s)
print(s)
print(type(s))
print(s1)
print(type(s1))

[10, 20, 30, 40]
<class 'list'>
{40, 10, 20, 30}
<class 'set'>

**4) Using range() function**

In [13]:
s=set(range(1,101,10))
print(s)
print(type(s))

{1, 71, 41, 11, 81, 51, 21, 91, 61, 31}
<class 'set'>

**5) creating Set with a string**

In [16]:
string="sairam"
s=set(string)
print(s) #only one 'A' will be retured since duplicates not allowed.

{'m', 'i', 'a', 'r', 's'}

**6) Creating Set with Dynamic Input**

In [17]:
s=eval(input("Enter a set object:"))
print(s)
print(type(s))

Enter a set object:{10,'A',10,30,20}
{10, 20, 'A', 30}
<class 'set'>

# Mathematical, Equality, Relational, Membership Operators for set

In [1]:
s1={10,20,30}
s2={40,50,60}
s3=s1+s2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

**Note:** '+' Operator and '*' Operator will not work in set.

In [2]:
s4=s1*s2

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [5]:
# Both sets contains same number of elements with same values irrespective of the order. So Equality Operator Returns True for s1==s2
s1={10,20,30}
s2={30,10,20}
print(s1==s2)
print(s1!=s2)

True
False

In [6]:
s1={10,20,30}
s2={5,10,20,15,30}
print(s1<s2)
print(s1>s2)
print(s1<=s2)
print(s1>=s2)

# Even tough the relational Operators are applicable, result will not be much meaningful.

True
False
True
False

In [9]:
s={10,20,30,40}
print(10 in s)
print(20 not in s)

# Membership operators works perfectly well with sets.

True
False

# Important methods and functions for Set

1) **len(set):** Returns no. of elements present in a set

In [10]:
s={10,20,30,40}
len(s)

4

2) **add():** If we want to add object to the set. we can use add() function. It is set specific method.

In [11]:
s={10,20,30}
print(s)
s.add(40) # can't guarantee the order.
print(s)

{10, 20, 30}
{40, 10, 20, 30}

3) **Update():** it is used to add multiple items to the set, We can add any number of arguments. all arguments should be iterable objects like list,tuple,set,string.

In [12]:
s={10,20}
l=[30,40]
s.update(l)
print(s)

{40, 10, 20, 30}

In [13]:
s.update(range(1,6),'durga')
print(s)

{1, 2, 3, 4, 5, 'u', 40, 'd', 10, 'r', 'a', 20, 'g', 30}

**Differences between add() and update()**

![](add_update.png)

1) **remove():** used to remove the specified element from the set.<br>
Syntax:<br>
> - **s.remove(element)**<br>
> - Specified element will be removed.<br>
> - if specified element is not avaialble in a set, KeyError will be raised.

In [14]:
s={10,20,30,40}
s.remove(30)
print(s)

{40, 10, 20}

In [15]:
s.remove(50)
print(s)

KeyError: 50

2) **discard():** If you don't want to raise an error, if element not available in list. discard() element can be used.

In [16]:
s={10,20,30}
s.discard(30) # 30 will be deleted from the set
print(s)

{10, 20}

In [18]:
s.discard(50) #we don't get any error, it simply displays the output
print(s)

{10, 20}

3) **pop():** pop will remove some random element from the set. it doesn't need any argument.

In [19]:
s={10,20,30,40}
print("Before pop:",s)
s.pop()
print("After pop:",s)

Before pop: {40, 10, 20, 30}
After pop: {10, 20, 30}

In [20]:
s.pop()

10

In [22]:
print(s) # randomly removed 10 from the set.

{20, 30}

**Note:** It will raise an error if used pop() on empty set

4) **clear():** If we want to remove all the elements from the set, we should use this clear() method.

In [23]:
s={10,20,30,40}
print("Before Clearing: ",s)
s.clear()
print("After Clearing:",s)

Before Clearing:  {40, 10, 20, 30}
After Clearing: set()

# Set Specific method for Mathematical Operators:

1) **union():** It returns all elements present inside set1 and set2

In [24]:
s1={10,20,30,40}
s2={30,40,50,60}
s3=s1.union(s2)
print(s3)

{40, 10, 50, 20, 60, 30}

In [26]:
s4=s1|s2 # we can also use this "|" operator to perform union
print(s4)

{40, 10, 50, 20, 60, 30}

2) **Intersection():** it returns all the common elements present inside set1 and set2

In [27]:
s1={10,20,30,40}
s2={30,40,50,60}
s3=s1.intersection(s2)
print(s3)

{40, 30}

In [28]:
s4=s1&s2 # we can also use this "&" operator to perform intersection
print(s4)

{40, 30}

3) **difference():** from set1 remove elements present inside set2 i.e it will return the elements present in s1 but not in s2.

In [29]:
s1={10,20,30,40}
s2={30,40,50,60}
s3=s1.difference(s2)
print(s3)

{10, 20}

In [30]:
s4=s1-s2 # we can also use this "-" operator to perform difference
print(s4)

{10, 20}

4) **symmetric_difference():** It returns elements present in set1 or set2 but not in both.

In [32]:
s1={10,20,30,40}
s2={30,40,50,60}
s3=s1.symmetric_difference(s2)
print(s3)

{10, 50, 20, 60}

In [33]:
s4=s1^s2 # we can also use this "^" operator to perform symmetric_difference
print(s4)

{10, 50, 20, 60}

# Aliasing and Cloning

**Aliasing** - The process of creating duplicate reference variable is called Aliasing<br>
> The problem with aliasing is, if we change a content of the one variable automatically that changes will be reflected to other variables also since both the variables are referencing to the same object.<br>

For Example:

In [35]:
s1={10,20,30}
s2=s1 # Aliasing
s1.pop()
print(s1)
print(s2)

# The change will be reflected to both the sets

{20, 30}
{20, 30}

**Cloning -** The process of creating a complete duplicate object but not duplicate reference variables is called cloning.<br>
> We can peform cloning with two methods<br><br>1) Using Copy() Method. 

For Example:

In [38]:
s1={10,20,30}
s2=s1.copy() # Cloning
s1.pop()
print(s1) # s1 element will be removed upon pop on s1 set.
print(s2) # S2 set doesn't change upon pop in s1 set.

{20, 30}
{10, 20, 30}

**Set Comprehension -**

In [39]:
s={i*i for i in range(1,6)}
print(s)

{1, 4, 9, 16, 25}

In [41]:
s={2**i for i in range(1,6)}
print(s)

{32, 2, 4, 8, 16}

Practice Program

**write a program to eliminate duplicates present in the list**

In [43]:
#Approach 1
l=[10,20,10,30,10,20,30]
s=set(l)
print(s)
l1=list(s)
print(l1)

{10, 20, 30}
[10, 20, 30]

In [45]:
# Approach 2
l=[10,20,10,30,10,20,30]
l1=[]
for x in l:
    if x not in l1:
        l1.append(x)
print(l1)

[10, 20, 30]

**write a program to print different vowels present in the given word**

In [46]:
word=input("enter any word to search for vowels:")
s=set(word)
v=['a','e','o','i','u']
result=s.intersection(v)
print(result)

enter any word to search for vowels:sairam
{'a', 'i'}

# THE END