# Tuple

Tuple  is same as list with only few changes. <br>
> 1) **Order is preserved in Tuple** like List.<br>
> 2) **Duplicates are allowed** like in List.<br>
> 3) **Heterogenous Objects are allowed** as in List.<br>
> 4) **Indexing and Slicing** can be done like we do in List.<br>

One and only major change is that,
> 5) **Tuple is indicated with Round brackets '()'** - Here, round brackets are optional unlike list. Even if we don't give the round brackets python will still consider it as tuple as shown in the below example.

Example:

In [1]:
t=(10,'sairam',20,10)
print(type(t))

<class 'tuple'>

In [2]:
t=10,'sairam',20,10
print(type(t))

<class 'tuple'>

> 6)**Tuple is Immutable** - Once the elements are placed, tuple doesn't allow to change its content i.e. we can't add or remove the elements from the list once given. 
>> If we try to change the content, it will raise an TypeError saying **"'tuple' object does not support item assignment"** as shown below.

In [3]:
t=(10,'sairam',20,10)
t[1]='sairam kandukuri'
print(t)

TypeError: 'tuple' object does not support item assignment

### Single Valued Tuple

In [5]:
t=(10,20,30)
print(type(t))
print(t)

<class 'tuple'>
(10, 20, 30)

In [6]:
t=(10,20)
print(type(t))
print(t)

<class 'tuple'>
(10, 20)

In [7]:
t=(10)
print(type(t))
print(t)

<class 'int'>
10

> If observed in the above examples, a single element in round brackets in not considering as an tuple, it is considered as a **int** value. It is because, usually while performing operations we use it regularly.<br>
>**Example**:<br>
>"20+30*(10)" ====> in this, (10) is a normal integer value given in round brackets which is just an indication for performing operation with respect to "BODMAS" rule. But still, (10) is an integer value.

**Note:** We need to be very careful while defining a **single valued tuple**.<br>

We can tell python virtual machine to consider it as tuple by simply keeping a comma "," after the single value we gave as shown in the example below

In [8]:
t=(10,)
print(type(t))
print(t)

<class 'tuple'>
(10,)

Now, the Python virtual machine has considered this single value as **tuple** instead of **int** by simply placing a "," after the value.

### Creation of tuple

#### 1) Empty Tuple

In [9]:
k=()
print(type(k))

<class 'tuple'>

#### 2) Single Valued Tuple

In [10]:
k=(10,)
print(type(k))
print(k)

<class 'tuple'>
(10,)

In [11]:
k=10, # this is also acceptable since paranthesis are optional
print(type(k))
print(k)

<class 'tuple'>
(10,)

#### 3) Multi Valued Tuple

In [13]:
# All the below are the possible ways of creating a Tuple.
k=(10,20,30)
k1=10,20,30
k2=(10,20,30,)
k3=10,20,30,
print(type(k))
print(type(k1))
print(type(k2))
print(type(k3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

#### 4) By using Tuple Function

**k=tuple(sequence)**
<br>Example:

In [14]:
l=[10,20,30] # List
k=tuple(l)
print(type(k))
print(k)

<class 'tuple'>
(10, 20, 30)

In [15]:
t=tuple(range(1,11,2))
print(t)

(1, 3, 5, 7, 9)

In [16]:
t='sairam'
k=tuple(t)
print(k)

('s', 'a', 'i', 'r', 'a', 'm')

#### 5) Dynamic Input

In [17]:
k=eval(input("Enter input"))
print(type(k))
print(k)

Enter input10,20,
<class 'tuple'>
(10, 20)

## Accessing Elements of the Tuple using Indexing and Slice Operator

#### 1) By Using Index

In [18]:
k=(10,20,30,40,50,60)
print(k[0])
print(k[-1])

10
60

In [20]:
print(k[100]) # we will get index error if the index is out of range from the given values

IndexError: tuple index out of range

**2) Accessing List Elements with Slice Operator.**

**Syntax**<br>
> tuple = **[begin:end:step]**<br><br>
> if step is +ve ==> Forward direction ==> begin to end-1<br>
> if step is -ve ==> Backward direction ==> begin to end+1<br><br>
> **Note:**<br> 
> 1) In Forward direction, if end value is 0, then result is always empty.<br>
> 2) In Backward direction, if end value is -1, then result is always empty.

==> Either Forward Direction or Backward direction, we can take both +ve and -ve values for begin and end index.<br>
<br>**In Forward Direction**<br>
> - default value for begin : **0**<br>
> - default value for end   : **len(tuple)**<br>

<br>**In Backward Direction**<br>
> - default value for begin : **-1**<br>
> - default value for end   : **-(len(tuple)+1)**<br>

In [21]:
t=(10,20,30,40,50,60,70,80,90,100)
print(t)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [22]:
print(t[2:5])

(30, 40, 50)

In [23]:
print(t[::2]) # Since step is 2, it will consider the every 2nd value.

(10, 30, 50, 70, 90)

In [27]:
print("t[2:7] = {}".format(t[2:7]))
print("t[2:7:2] = {}".format(t[2:7:2])) # step is 2, so we need to consider evry 2nd element.
print("t[4::2] = {}".format(t[4::2])) # from begin at 4th index to last with a step of 2
print("t[8:3:-2] = {}".format(t[8:3:-2]))#consider values from 8th index to 3rd index in backward direction since the step is -2
print("t[4:100] = {}".format(t[4:100])) # we won't get index error, it will return the values which are available till last
print("t[4:0:2] = {}".format(t[4:0:2])) # returns empty tuple, since end value is 0 and step is a +ve direction.
print("t[::1] = {}".format(t[::1])) # returns all the values with the specified step size in forward direction.
print("t[::-1] = {}".format(t[::-1])) # returns all the values with the specified step size in backward direction.

t[2:7] = (30, 40, 50, 60, 70)
t[2:7:2] = (30, 50, 70)
t[4::2] = (50, 70, 90)
t[8:3:-2] = (90, 70, 50)
t[4:100] = (50, 60, 70, 80, 90, 100)
t[4:0:2] = ()
t[::1] = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
t[::-1] = (100, 90, 80, 70, 60, 50, 40, 30, 20, 10)

## Mathematical Operator

#### 1) Concatenation Operator

In [29]:
t1=(10,20,30)
t2=(40,50,60)
t3=t1+t2
print(t3)

(10, 20, 30, 40, 50, 60)

**Note:** We are not changing the existing content on the tuple, we are creating the new variable t3 and concatenating t1 and t2.

In [31]:
t1=(10,20,30)
t2=40
t3=t1+t2
print(t3)

TypeError: can only concatenate tuple (not "int") to tuple

**Note:** For concatenation both arguments should be of same data types(i.e Both should be lists)

In [33]:
t1=(10,20,30)
t2=(40,)
t3=t1+t2
print(t3)

(10, 20, 30, 40)

#### 2) Repetition Operator

In [34]:
t1=(10,20,30)
t2=t1*3
print(t2)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

**Note:** If we want apply repetition for the list, we need to make sure one argument must be **list** type and other should be **int** type.

In [38]:
t1=(10,20)
t2=(30,40)
t3=t1+t2
t4=t3*3
print(t4)

(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

## Equality Operators for tuple

In [40]:
t1=('Rat','Cat','Dog')
t2=('Rat','Cat','Dog')
t3=('RAT','CAT','DOG')
t4=('Cat','Dog','Rat')

print(t1==t2) # Returns "True", Since t1==t2 satiesfies all the 3 conditions mentioned below.
print(t1==t3) # Returns "False",since t1==t3 satiesfies only 1 and 2 conditions, 3rd condition fails as content is not same.
print(t1==t4) # Returns "False",since t1==t4 satiesfies only 1 and 3 conditions, 2nd condition fails as order is not same.

True
False
False

**When "==" Operator returns "TRUE" ?**

> 1) The Number of elements must be same.<br>
> 2) The order of elements must be same.<br>
> 3) The Content Must be same including Case.

## Relational Operators for List Objects

In [42]:
t1=(10,20,30,40)
t2=(50,60)
print(t1<t2)
print(t1<=t2)
print(t1>t2)
print(t1>=t2)

True
True
False
False

**Note:** It always performs First element level comaprision in tuples, if it is able to decide the condition it returns TRUE, if not then it will perform 2nd element level comparison and so..on

==> In the above example, First element in t1(10) compared with First Element in t2(50) ==> 10<50, Hence returns True. It will not go for further comparisons because it has already decided the result based on the condition, if it fails to decide on first level it will perform 2nd level element comparision.<br><br> For Example:

In [43]:
t1=(10,20,30)
t2=(10,20,6)
print(t1<t2)
print(t1<=t2)
print(t1>t2)
print(t1>=t2)

False
False
True
True

In the above example, 1st and 2nd element in both the t1 and t2 tuples are same, so the result cant be decided on these two elements. So First Level and Second Level Comparison Fail to decide the result, Hence third level comparison will be performed.<br><br> 3rd element 30 in t1 is compared with 3rd element 6 in t2 as a 3rd level element comparision like below <br><br>
> 30 < 6 --> False<br>30 <= 6 --> False<br>30 > 6 --> True<br>30 >= 6 --> True

## Membership Operators

In [45]:
L1=(10,20,30)
print(10 in L1) # Returns 'True', if found 10 in the tuple else returns 'False'
print(40 in L1) # Returns 'False', since 40 not found in the tuple.
print(40 not in L1) # Returns 'True', if 40 not found in the tuple else returns 'False'

True
False
True

# Important Methods or Functions for Tuple

**len(tuple)** - Returns the number of elements present in a tuple.

In [1]:
t=(10,20,30,40)
print(len(t))

4

**count(element)** - Returns the no. of occurences of an element in a list.
> - Syntax: **tuple.count(element)**<br>
> - **element** is the one we need to search for in the list to identify the no. of occurences.<br>

For Example:

In [2]:
t=(1,1,2,2,2,3,3)
print(t.count(1))

2

**index(element)** - Returns index of first occurence of specified element in the tuple.

In [3]:
t=(1,2,1,4,3,2,3,1)
print(t.index(1))
print(t.index(3))
print(t.index(5))

0
4

ValueError: tuple.index(x): x not in tuple

**Note:** **index(element)** will raise an Value Error, if the element is not in the given tuple. So, We need to make sure that given element is in the tuple...to except that error, we can do the following.

# Reversing Elements of the tuple

like **List** reverse method is not available for **tuple**, because the content can't be changed in the existing tuple.

We can reverse the tuple using inbuilt **reversed()** function

k=(10,20,30,40)
r=reversed(k) # A New reversed object is created
t1=tuple(r) # Coverting the reversed object to tuple()
print("Original Tuple : ",k)
print("Reversed Tuple : ",t1)

# Sorting Elements of the Tuple

like **List** sort() method is not available for **tuple**, because the content can't be changed in the existing tuple.

We can sort the tuple using inbuilt **sorted()** function

In [10]:
t=(20,10,5,15,0)
l=sorted(t)
t1=tuple(l)
print("Orginal tuple : ",t)
print("Sorted tuple : ",t1)

Orginal tuple :  (20, 10, 5, 15, 0)
Sorted tuple :  (0, 5, 10, 15, 20)

By Default, Sorting order will be ascending. If we want result to be in descending order we should use the following syntax

In [11]:
t=(20,10,5,15,0)
l=sorted(t,reverse=True)
t1=tuple(l)
print("Orginal tuple : ",t)
print("Sorted tuple : ",t1)

Orginal tuple :  (20, 10, 5, 15, 0)
Sorted tuple :  (20, 15, 10, 5, 0)

# max() and min() functions for tuple

In [12]:
k=(20,10,0,5,10)
print("Maximum value:",max(t))
print("Minimum value:",min(t))

Maximum value: 20
Minimum value: 0

# Note

Below methods in List are not applicable for tuple, as tuple don't allow its content to bbe changed once created.

***append()<br>
insert()<br>
extend()<br><br>
remove()<br>
pop()<br>
clear()***

# Tuple Packing and Unpacking

In [15]:
a=10
b=20
c=30
d=40
t1=a,b,c,d # we are packing all the individual variables and its values into one tuple variable
print(t1)
print(type(t1)) #packed variable type will result as tuple.

(10, 20, 30, 40)
<class 'tuple'>

We can also pack all the values into a single list.

In [16]:
t1=[a,b,c,d]
print(t1)
print(type(t1))

[10, 20, 30, 40]
<class 'list'>

This packing concept applies to list,tuples,sets also. But in general,we use packing for the tuple only.

Similiarly, we can unpack the tuple or list into multiple variables.

In [18]:
k=(10,20,30,40)
a,b,c,d=k
print("a=",a)
print("b=",b)
print("c=",c)
print("d=",d)

a= 10
b= 20
c= 30
d= 40

**Note:** At the time of **Unpacking** number of variables must match with the number of values in the tuple, otherwise it will raise an **ValueError**<br><br>
For Example:

In [19]:
k=(10,20,30,40) # more values than the variables given 
a,b,c=k

ValueError: too many values to unpack (expected 3)

In [21]:
k=(10,20,30,40) #unpacking can't be done here as there not enough values for the variables given for unpacking
a,b,c,d,e=k

ValueError: not enough values to unpack (expected 5, got 4)

In [24]:
# we can unpack the tuple like this also where first value in the tuple is assigned to first variable "a" and 
# remaining values in tuple will be unpacked to "b" as it is indicated with variable lenght argument (*)

k=(10,20,30,40)
a,*b=k # *b is called as **variable lenght argument**. This will always output a List.
print("a=",a)
print("b=",b)

a= 10
b= [20, 30, 40]

# Tuple Comprehension

In [25]:
t=(x*x for i in range(1,11))
print(t)

<generator object <genexpr> at 0x000001D6E39AE4A0>

Comprehension is not applicable for tuple, as we can see the type of the comprehension for tuple resulted as a **Generator object**

# Differences between List and Tuple

 - Internally, the way of memory representation in case of tuple is different that list. A Tuple with Same elements as in list will be stored with less memory, whereas List takes more memory than tuple.

 - Since content in tuple can't be changed, so we can access tuple elements very easily with very speed. Hence the performance of the tuple is high compared to list.<br>

> List is Unhashable,so We can't add List to set or dict.<br>
> Tuple is hashable, so we can add tuple to set or dict.

In [6]:
import collections
l=[10,20,30]
t=(10,20,30)
print(isinstance(l,collections.Hashable)) # Checking whether list is hashable or not, Returns FALSE
print(isinstance(t,collections.Hashable)) # Checking whether tuple is hashable or not, Returns TRUE
print(hash(t)) # Tuple is hasbale, so hash id will be resulted
print(hash(l)) # List is Unhasbale, so TypeError will be resulted

False
True
3952409569436607343

TypeError: unhashable type: 'list'

In [9]:
s={10,20}
l=[10,20,30]
t=(10,20,30)
s.add(t) # we are adding tuple to the set. Set only accepts the hashable items. Hence tuple will be added to set easily.
print(s)

{10, 20, (10, 20, 30)}

In [8]:
s.add(l) # set will not accept the list since it is unhashable item.

TypeError: unhashable type: 'list'

In [11]:
d={}
l=[10,20,30]
t=(10,20,30)
d[t]='A' # we are adding tuple as key to the dict with value 'A'. dict only accepts the hashable items. Hence tuple will be added to dict easily.
print(d)

{(10, 20, 30): 'A'}

In [12]:
d[l]='B' # dict will not accept the list as key since it is unhashable item.
print(d)

TypeError: unhashable type: 'list'

## Differences

<img src="List_vs_Tuple.PNG">

**Program to take the Tuple of numbers from the keyboard and print Sum and Average**

In [13]:
k=eval(input("Enter tuple of numbers:"))
sum=0
for i in k:
    sum = sum+i
print("The Sum is: ",sum)
print("The Average is: ",sum/len(k))

Enter tuple of numbers:(10,20,30)
The Sum is:  60
The Average is:  20.0

# THE END