# Operators

- Operator is a symbol that performs certain operations.<br>
- Python provides the following set of operators<br><br>
> 1) Arithmetic Operators<br>
> 2) Relational Operators OR Comparison Operators<br> 
> 3) Logical operators<br>
> 4) Bitwise oeprators<br>
> 5) Assignment operators<br>
> 6) Special operators<br><br>

## Arithmetic Operators:

1) **+** ==> **Addition**<br>
2) **-** ==> **Subraction**<br>
3) **\*** ==> **Multiplication**<br>
4) **/** ==> **Division**<br>
5) **%** ==> **Modulo Operator(remainder)**<br>
6) **//** ==> **Floor Division Operator**<br>
7) **\**** ==> **Exponent Operator OR Power Operator**<br>

In [1]:
a = 10
b = 5

print("a+b = ",a+b)
print("a-b = ",a-b)
print("a*b = ",a*b)
print("a/b = ",a/b)
print("a%b = ",a%b)
print("a//b = ",a//b)
print("a**b = ",a**b)

a+b =  15
a-b =  5
a*b =  50
a/b =  2.0
a%b =  0
a//b =  2
a**b =  100000

**Note:** 
֍ / operator always performs floating point arithmetic. Hence it will always returns float value.<br>
֍ But Floor division (//) can perform both floating point and integral arithmetic. If arguments are int type then result is int type. If atleast one argument is float type then result is float type.<br><br>

Note:
֍ We can use +,* operators for str type also.<br> ֍ If we want to use + operator for str type then compulsory both arguments should be str type only otherwise we will get error.

In [2]:
"Sairam" + 143

TypeError: can only concatenate str (not "int") to str

In [3]:
"Sairam" + "143"

'Sairam143'

֍ If we use * operator for str type then compulsory one argument should be int and other argument should be str type.

In [4]:
2*"ram"

'ramram'

In [5]:
"ram"*2

'ramram'

In [6]:
2.5*"ram"

TypeError: can't multiply sequence by non-int of type 'float'

֍ **+** ==> String Concatenation Operator<br>
֍ **\*** ==> String Multiplication Operator<br><br>

**Note:**
For any number x, x/0 and x%0 always raises "ZeroDivisionError"<br>
10/0<br> 10.0/0<br> .....

In [7]:
10/0

ZeroDivisionError: division by zero

In [8]:
10.0/0

ZeroDivisionError: float division by zero

## 2) Relational Operators: >, >=, <, <=

**>** Greater than<br>
**<** Less than<br>
**>=** Greater than or equal to<br>
**<=** Less than or equal to

In [9]:
a=10
b=20

print("a>b is ",a>b)
print("a>=b is ",a>=b)
print("a<b is ",a<b)
print("a<=b is ",a<=b)

a>b is  False
a>=b is  False
a<b is  True
a<=b is  True

We can apply relational operators for str types also.

In [10]:
a = "python"
b = "learning"

print("a>b is ",a>b)
print("a>=b is ",a>=b)
print("a<b is ",a<b)
print("a<=b is ",a<=b)

a>b is  True
a>=b is  True
a<b is  False
a<=b is  False

In [11]:
print(True>True)
print(True<True)
print(True>=True)
print(True<=True)
print(10<True)
print(10>"python") # cant compare int and string, so will raise error.

False
False
True
True
False

TypeError: '>' not supported between instances of 'int' and 'str'

In [12]:
a=10
b=20

if a>b:
    print("a is greater")
else:
    print("b is greater")

b is greater

## 3) Equality Operators: ==, !=
We can apply these operators for any type even for incompatible types also.

In [13]:
10 == 10

True

In [14]:
10 == 20

False

In [15]:
10 != 10

False

In [16]:
10 != 20

True

In [17]:
"Sairam" == "sairam"

False

In [18]:
"Python" != 'python'

True

In [19]:
10 == "srk"

False

## 4) Logical Operators: and, or, not
We can apply for all types.

#### For boolean Types Behaviour:<br>
 **and** => If both arguments are True then only result is True<br>
 **or** => If atleast one arugemnt is True then result is True<br>
 **not** => Complement<br><br>

True and False => False<br>
True or False => True<br>
not False => True<br><br>

#### For non-boolean Types Behaviour:
0 means False<br>
non-zero means True<br>
empty string is always treated as False<br><br>

#### x and y:
If x is evaluates to false return x otherwise return y<br>
**Eg:**<br>
10 and 20<br>
0 and 20<br><br>
If first argument is zero then result is zero otherwise result is y<br><br>

#### x or y:
If x evaluates to True then result is x otherwise result is y<br>
- 10 or 20 => 10<br>
- 0 or 20 => 20<br><br>

#### not x:
If x is evalutates to False then result is True otherwise False<br>
not 10 => False<br>
not 0 => True

In [20]:
"Sairam" and "sairam"

'sairam'

In [21]:
"" and "sairam"

''

In [22]:
"" or "python"

'python'

In [23]:
"sairam" or "kandukuri"

'sairam'

In [24]:
not True

False

In [25]:
not "" #default empty string will be false

True

## 5) Bitwise Operators:
֍ We can apply these operators bitwise.<br>
֍ These operators are applicable only for int and boolean types.<br>
֍ By mistake if we are trying to apply for any other type then we will get Error.<br>
֍ **&, |, ^, ~, <<, >>**<br><br>

֍ print(4&5) => Valid
֍ print(10.5 & 5.6) => TypeError: unsupported operand type(s) for &: 'float' and 'float'
֍ print(True & True) => Valid

֍ & => If both bits are 1 then only result is 1 otherwise result is 0<br>
֍ | => If atleast one bit is 1 then result is 1 otherwise result is 0<br>
֍ ^ => If bits are different then only result is 1 otherwise result is 0<br>
֍ ~ => bitwise complement operator<br>
֍ 1 => 0 & 0 => 1<br>
֍ << => Bitwise Left Shift<br>
֍ >> => Bitwise Right Shift<br><br>

<img src = "images/1.png" width = 700>

In [26]:
print(4&5)

4

In [27]:
print(4|5)

5

In [28]:
print(4^5)

1

### Bitwise Complement Operator (~):
We have to apply complement for total bits.<br>
**Eg:** print(~5) => -6<br><br>

**Note:**<br>
֍ The most significant bit acts as sign bit. 0 value represents +ve number where as 1 represents -ve value.<br>
֍ Positive numbers will be repesented directly in the memory where as -ve numbers will be represented indirectly in 2's complement form.

## 6) Shift Operators:
### << Left Shift Operator
After shifting the empty cells we have to fill with zero<br>
print(10<<2) => 40 <br>

<img src="images/2.png" width=400 align = left>

In [1]:
print(10<<2)

40

### >> Right Shift Operator
After shifting the empty cells we have to fill with sign bit.( 0 for +ve and 1 for -ve)<br>
print(10>>2) => 2<br>

<img src = "images/3.png" width=400 align=left>

In [3]:
print(10>>2)

2

## 7) Assignment Operators:
֍ We can use assignment operator to assign value to the variable. **Eg: x = 10**<br>
֍ We can combine asignment operator with some other operator to form compound assignment operator.<br>
**Eg: x += 10 => x = x+10**<br>

The following is the list of all possible compound assignment operators in Python.<br>
- +=<br>
- -=<br>
- *=<br>
- /=<br>
- %=<br>
- //=<br>
- \**=<br>
- &=<br>
- |=<br>
- ^=<br>
- \>>=<br>
- <<=<br>

In [4]:
x = 10
x += 30
print(x)

40

In [6]:
x=2
x*=2
print(x)

4

In [7]:
x=10
x&=5
print(x)

0

## 8) Ternary Operator OR Conditional Operator
***Syntax:***<br> **x** = <font color='orange'>**firstValue**</font> <font color='green'>**if**</font> **condition**</font> <font color='green'>**else**</font> <font color='orange'>**secondValue**</font><br>
If condition is True then firstValue will be considered else secondValue will be considered.

In [8]:
# Example1

a,b = 10,20
x=30 if a<b else 40
print(x)

30

In [11]:
#Example2

a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))
max = a if a>b else b
print("Maximum Value:",max)

Enter First Number: 20
Enter Second Number: 10
Maximum Value: 20

**Note:** Nesting of Ternary Operator is Possible.

In [13]:
#Q) Program for Maximum of 3 Numbers
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))
c = int(input("Enter Third Number: "))
max = a if a>b and a>c else b if b>c else c
print("Maximum Value:",max)

Enter First Number: 10
Enter Second Number: 50
Enter Third Number: 5
Maximum Value: 50

In [14]:
#Q) Program for Minimum of 3 Numbers
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))
c = int(input("Enter Third Number: "))
min = a if a<b and a<c else b if b<c else c
print("Minimum Value:",min)

Enter First Number: 10
Enter Second Number: 50
Enter Third Number: 3
Minimum Value: 3

In [15]:
# Example
a=int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))
print("Both numbers are equal" if a==b else "First Number is Less than Second Number"
     if a<b else "First Number Greater than Second Number")

Enter First Number: 10
Enter Second Number: 20
First Number is Less than Second Number

## 9) Special Operators:
Python defines the following 2 special operators<br>
> 1) Identity Operators<br>
> 2) Membership operators<br><br>

### 1) Identity Operators
- We can use identity operators for address comparison.<br>
- There are 2 identity operators are available<br>
> 1) **is**<br>
> 2) **is not**<br>

- **r1 <font color='orange'>is</font> r2** returns True if both r1 and r2 are pointing to the same object.<br>
- **r1 <font color='orange'>is not</font> r2** returns True if both r1 and r2 are not pointing to the same object.

In [16]:
a=11
b=11
print(a is b)

True

In [17]:
x=True
y=True
print(x is y)

True

In [18]:
x=False
y=True
print(x is y)

False

In [19]:
a='sai'
b='sai'
print(id(a))
print(id(b))
print(a is b)

2531136563888
2531136563888
True

In [20]:
list1 = ["one","two","three"]
list2 = ["one","two","three"]
print(id(list1))
print(id(list2))

2531136677888
2531133643904

In [21]:
print(list1 is list2)
print(list1 is not list2)
print(list1 == list2)

False
True
True

**Note:** We can use is operator for address comparison where as == operator for content comparison.

## 2) Membership Operators:
- We can use Membership operators to check whether the given object present in the given collection. (It may be String, List, Set, Tuple OR Dict)<br>
- **in** ==> Returns True if the given object present in the specified Collection<br>
- **not in** ==> Retruns True if the given object not present in the specified Collection

In [22]:
a = "python learning is very easy"
print('h' in a)
print('learning' in a)
print('not' in a)

True
True
False

In [23]:
list1 = ["sairam","kandukuri",'dhana','sunny']
print("Sairam" in list1)
print("munny" in list1)
print("munny" not in list1)

False
False
True

## Operator Precedence:
If multiple operators present then which operator will be evaluated first is decided by operator precedence.

In [24]:
# Example
print(3+10*2)
print((3+10)*2)

23
26

The following list describes operator precedence in Python<br>

1) () **=====>** Parenthesis<br> 
2) \** **====>** Exponential Operator<br>
3) \~, \- **====>** Bitwise Complement Operator, Unary Minus Operator<br>
4) \*, /, %, // **====>** Multiplication, Division, Modulo, Floor Division<br>
5) +, - **====>** Addition, Subtraction<br>
6) <<, >> **====>** Left and Right Shift<br>
7) & **====>** Bitwise And<br>
8) ^ **====>** Bitwise X-OR<br>
9) | **====>** Bitwise OR<br>
10) >, >=, <, <=, ==, != **====>** Relational OR Comparison Operators<br>
11) =, +=, -=, \*=... **====>** Assignment Operators<br>
12) is , is not **====>** Identity Operators<br>
13) in , not in **====>** Membership operators<br>
14) not **====>** Logical not<br>
15) and **====>** Logical and<br>
16) or **====>** Logical or

In [25]:
a=50
b=20
c=30
d=5

print((a+b)*c/d)
print((a+b)*(c/d))
print(a+(b*c)/d)

420.0
420.0
170.0

In [29]:
# Lets solve this with operator precedence step by step.
1/2*8+46+(10/2)**3-5

170.0

In [30]:
1/2*8+46+(5)**3-5

170.0

In [31]:
1/2*8+46+125-5

170.0

In [32]:
0.5*8+46+125-5

170.0

In [35]:
4.0+46+125-5

170.0

# ===================== THE END =======================